extends ../layouts/main.pug
include ../components/card-article.pug

mixin worksGalery
    - const worksImagesGalery = []
    each folder in Object.keys(galery)
        each folderChild in Object.keys(galery[folder])
            - const n = Math.floor(Math.random() * galery[folder][folderChild].length)
            - const index = n + 1
            - worksImagesGalery.push({image : galery[folder][folderChild][n],alt :"Trabajo realizado Nº " + index + " de la galería"})

    each item in worksImagesGalery 
        img.works__image(src=item.image,alt=item.alt,loading="lazy")

//- https://res.cloudinary.com/dzur9okbf/image/upload/v1628636508/styles-and-designs-wem/Melamine/Cocina/IMG_20200807_183116_e3xuza.jpg
block prepend head 
    +metaData({
        description : "Encuentra los mejores muebles de melamine con acabados de alta calidad. \nAquí en Estilos & Diseños WEM",
        image: process.env.MAINIMAGE,
        keywords: ["muebles","melamine","drywall","estilos","diseños","wem"],
        canonical: ""
    })
    link(rel="stylesheet", href="/css/index.css")
block content
    main
        .presentation
            .presentation__box 
                img.presentation__image(data-src=process.env.MAINIMAGE,alt="main image")
                .presentation__text
                    h1(translate="no") Estilos & Diseños WEM
                    p Tenemos los mejores muebles de Melamine, así como el mejor Drywall !!
            each item in main_data
                a.presentation__box(href="/muebles-para-"+item.title.toLowerCase())
                    img.presentation__image(data-src=item.image,alt=item.title,loading="lazy")
                    h2.presentation__title Fabricamos 
                        span.presentation__title-block Muebles para #{item.title}

    section.container.furnitures
        h2.furnitures__title#mejores-productos Nuestros mejores productos
        .furnitures__box
            each page in pages 
                +cardArticle(page)
    section.container.works
        h2.works__title#trabajos-realizados Trabajos Realizados
        .works__box
            .works-grid
                +worksGalery()
            a.works__button(href="/galery") Ver más

block scripts 
    script(src="/js/lazy-images.js") 
    script(src="/js/index.js") 