extends ./views/layouts/main.pug
include ./views/components/card-article.pug

mixin worksGalery
    - const worksImagesGalery = []
    -const galeryData = require("../dist/assets/data.json")["galery"]
    each folder in Object.keys(galeryData)
        each folderChild in Object.keys(galeryData[folder])
            - const n = Math.floor(Math.random() * galeryData[folder][folderChild].length)
            - const index = n + 1
            - worksImagesGalery.push({image : galeryData[folder][folderChild][n],alt :"Trabajo realizado Nº " + index + " de la galería"})
    each item in worksImagesGalery 
        img.works__image(src=item.image,alt=item.alt,loading="lazy")

block prepend head 
    +metaData({
        description : "Encuentre los mejores muebles de melamine con acabados de alta calidad. \nAquí en Estilos & Diseños WEM",
        image: htmlWebpackPlugin.options.data.MAINIMAGE,
        keywords: ["muebles","melamine","drywall","estilos","diseños","wem"],
        canonical: ""
    })
block content
    main
        .presentation
            .presentation__box 
                img.presentation__image(data-src=htmlWebpackPlugin.options.data.MAINIMAGE,alt="main image")
                .presentation__text
                    h1(translate="no") Estilos & Diseños WEM
                    p Encuentre los mejores muebles de melamine con acabados de alta calidad.
            each item in main_data
                a.presentation__box(href="/muebles-para-"+item.title.toLowerCase())
                    img.presentation__image(data-src=item.image,alt=item.title,loading="lazy")
                    h2.presentation__title Fabricamos 
                        span.presentation__title-block Muebles para #{item.title}
    div.container
        ul.tagList 
            li: a.tag-link(href="/melamine") Melamine
            li: a.tag-link(href="/drywall") Drywall
            li: a.tag-link(href="/granito") Granito
    section.container.furnitures
        h2.furnitures__title#mejores-productos Nuestros mejores productos
        .furnitures__box
            each page in pages
                +cardArticle(page)
    section.container.works
        h2.works__title#trabajos-realizados Trabajos Realizados
        .works__box
            .works-grid
                +worksGalery()
            a.works__button(href="/galery") Ver más