extends ./main.pug

mixin makeMiniGalery(directory)
    - const parentFolder = directory.split("/")[0]
    - const childFolder = directory.split("/")[1]
    - const lista = galery[parentFolder][childFolder]
    - let start = 0
    - const data = []
    - let stop = 0
    if lista.length > 6 
        - stop = 6 
    else 
        - stop = lista.length
    while start < stop
        - data.push(start) 
        - ++start

    each i in data
        -const n =  Math.floor(Math.random()*lista.length)
        -const image = lista.splice(n,1)[0]
        .miniGalery__item
            img.miniGalery__image(src=image, alt=parentFolder +" " +childFolder)


block head 
    link(rel="stylesheet", href="/css/furniture.css")
    +metaData({title:headTitle,description:headDescription,image:image})

block content 
    main.furniture
        img.furniture__image(src=image, alt=title)
        .furniture__box
            .furniture__text
                h1.furniture__title=title
                p.furniture__description !{description}
    section.container.miniGalery
        h2.miniGalery__title Galería
        .miniGalery-grid
            +makeMiniGalery(imagesDir)
block scripts 
    script(src="/js/lazy-images.js")
    script(src="/js/furniture.js")