- const {pages,galery,main_data} = htmlWebpackPlugin.options.data

mixin metaData({title,description,image,keywords,canonical})
    meta(name="title",content=title ? title + " | Estilos & Diseños WEM" : "Estilos & Diseños WEM")
    meta(property="og:title",content=title ? title + " | Estilos & Diseños WEM" : "Estilos & Diseños WEM")

    if description 
        meta(name="description",content=description)
        meta(property="og:description",content=description)
    if image
        meta(property="og:image",content=image)
        meta(property="og:image:width",content="500px")
        meta(property="og:image:height",content="500px")

    if keywords 
        meta(name="keywords",content=keywords.toString())

    meta(property="og:url",content=htmlWebpackPlugin.options.data.CANONICAL_URL + canonical)
    link(rel="canonical",href=htmlWebpackPlugin.options.data.CANONICAL_URL + canonical)

    title #{title ? title + " | Estilos & Diseños WEM" : "Estilos & Diseños WEM"}

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="preload", as="image",href="/assets/images/logo.png")
        link(rel="preconnect dns-prefetch",href="https://res.cloudinary.com")

        link(rel="shortcut icon", href="/assets/images/logo.png", type="image/x-icon")
        link(rel="apple-touch-icon", href="/assets/images/logo.png")

        meta(property="og:locale",content="es_ES")

        style.
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

        block head
    body 